CompileFlags:
  Add: [-DPSP, -D__PSP__, -Wno-unknown-warning-option, -ferror-limit=0, -I/home/nils/github/psp/include, -I/home/nils/pspdev/include, -I/home/nils/pspdev/psp/include, -I/home/nils/pspdev/psp/sdk/include]
  Remove: [-m*, -f*, -G*]
